In [1]:
%pip install pandas
%pip install psycopg2-binary sqlalchemy

Requirement already satisfied: pandas in c:\users\palan\downloads\diet_plan_recom_chatbot\venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\palan\downloads\diet_plan_recom_chatbot\venv\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\palan\downloads\diet_plan_recom_chatbot\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\palan\downloads\diet_plan_recom_chatbot\venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\palan\downloads\diet_plan_recom_chatbot\venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\palan\downloads\diet_plan_recom_chatbot\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp311-cp311-win_amd64.whl.metadata (5.0 kB)
Requirement already satisfied: sqlalchemy in c:\users\palan\downloads\diet_plan_recom_chatbot\venv\lib\site-packages (2.0.35)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\palan\downloads\diet_plan_recom_chatbot\venv\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\palan\downloads\diet_plan_recom_chatbot\venv\lib\site-packages (from sqlalchemy) (3.1.1)
Downloading psycopg2_binary-2.9.10-cp311-cp311-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   - -------------------------------------- 0.0/1.2 MB 660.6 kB/s eta 0:00:02
   -- ------------------------------------- 0.1/1.2 MB 919.0 kB/s eta 0:00:02
   ---- ----------------------------------- 0.1/1.2 MB 1.1 MB/s eta 0:00:01
   ------ --------------------------------- 0.2/1.2 MB 1.1 MB/s eta 0:00:01
   -------- ------------------------------- 0.2/1.2 MB 1.1 MB/s eta 0:00:01
   ---------- ----------------------------- 0.3/1.2 MB 1.1 MB/s eta 0:00:01
   ------------ --------------------------- 0.4/1.2 MB 1.1 MB/s eta 0:00:01
   --------------- ------------------------ 0.5/1.2 MB 1.2 MB/s eta 0:00:01
   ----------------- ---------------------- 0.5/1.2 MB 1.2 MB/s eta 0:00:01
   ------------------- -------------------- 0.6/1.2 MB 1.3 MB/s eta 0:00:01
   --------------------- ------------------ 0.6/1.2 MB 1.2 MB/s eta 0:00:01
   ----------------------- ---------------- 0.7/1.2 MB 1.3 MB/s eta 0:00:01
   -------------------------- ------------- 0.8/1.2 MB 1.3 MB/s eta 0:00:01
   ---------------------------- ----------- 0.8/1.2 MB 1.3 MB/s eta 0:00:01
   -------------------------------- ------- 0.9/1.2 MB 1.3 MB/s eta 0:00:01
   ---------------------------------- ----- 1.0/1.2 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 1.1/1.2 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  1.2/1.2 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 1.2/1.2 MB 1.4 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [24]:
import pandas as pd
import os

from sqlalchemy import create_engine
from dotenv import load_dotenv

load_dotenv()

True

In [3]:
BASE_DIR = 'data/food_data'
FOUNDATION_FOOD_PATH = 'foundation_food'
BRANDED_FOOD_PATH =  'branded_food'

In [4]:
foundation_food_2024 = pd.read_csv(BASE_DIR + '/' + FOUNDATION_FOOD_PATH + '/Apr_2024/food.csv')
foundation_food_2024.head()

,fdc_id,data_type,description,food_category_id,publication_date
0,319874,sample_food,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
1,319875,market_acquisition,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
2,319876,market_acquisition,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
3,319877,sub_sample_food,Hummus,16.0,2019-04-01
4,319878,sub_sample_food,Hummus,16.0,2019-04-01

In [5]:
foundation_food_nutrient_2024 = pd.read_csv(BASE_DIR + '/' + FOUNDATION_FOOD_PATH + '/Apr_2024/food_nutrient.csv')
foundation_food_nutrient_2024.head()

C:\Users\palan\AppData\Local\Temp\ipykernel_2036\1328151036.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  foundation_food_nutrient_2024 = pd.read_csv(BASE_DIR + '/' + FOUNDATION_FOOD_PATH + '/Apr_2024/food_nutrient.csv')

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
0,2201847,319877,1051,56.30,1.0,1.0,NaN,NaN,NaN,NaN,NaN
1,2201845,319877,1002,1.28,1.0,1.0,NaN,NaN,NaN,NaN,NaN
2,2201846,319877,1004,19.00,1.0,1.0,NaN,NaN,NaN,NaN,NaN
3,2201844,319877,1007,1.98,1.0,1.0,NaN,NaN,NaN,NaN,NaN
4,2201852,319878,1091,188.00,1.0,1.0,NaN,NaN,NaN,NaN,NaN

In [6]:
foundation_nutrient_2024 = pd.read_csv(BASE_DIR + '/' + FOUNDATION_FOOD_PATH + '/Apr_2024/nutrient.csv')
foundation_nutrient_2024.head()
# foundation_nutrient_2024.shape
# foundation_nutrient_2024.columns

     id                               name unit_name  nutrient_nbr   rank
0  2047   Energy (Atwater General Factors)      KCAL         957.0  280.0
1  2048  Energy (Atwater Specific Factors)      KCAL         958.0  290.0
2  1001                             Solids         G         201.0  200.0
3  1002                           Nitrogen         G         202.0  500.0
4  1003                            Protein         G         203.0  600.0

In [7]:
branded_food_2024 = pd.read_csv(BASE_DIR + '/' + BRANDED_FOOD_PATH + '/Apr_2024/food.csv')
branded_food_2024.head()

C:\Users\palan\AppData\Local\Temp\ipykernel_2036\4089652134.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  branded_food_2024 = pd.read_csv(BASE_DIR + '/' + BRANDED_FOOD_PATH + '/Apr_2024/food.csv')

,fdc_id,data_type,description,food_category_id,publication_date,market_country,trade_channel,microbe_data
0,1105904,branded_food,WESSON Vegetable Oil 1 GAL,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""..."
1,1105905,branded_food,SWANSON BROTH BEEF,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""..."
2,1105906,branded_food,CAMPBELL'S SLOW KETTLE SOUP CLAM CHOWDER,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""..."
3,1105907,branded_food,CAMPBELL'S SLOW KETTLE SOUP CHEESE BROCCOLI,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""..."
4,1105908,branded_food,SWANSON BROTH CHICKEN,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""..."

In [8]:
branded_food_nutrient_2024 = pd.read_csv(BASE_DIR + '/' + BRANDED_FOOD_PATH + '/Apr_2024/food_nutrient.csv')
branded_food_nutrient_2024.head()

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
0,13706927,1105904,1257,0.00,NaN,71.0,NaN,NaN,NaN,NaN,NaN
1,13706930,1105904,1293,53.33,NaN,71.0,NaN,NaN,NaN,NaN,NaN
2,13706926,1105904,1253,0.00,NaN,75.0,NaN,NaN,NaN,NaN,NaN
3,13706921,1105904,1092,0.00,NaN,75.0,NaN,NaN,NaN,NaN,NaN
4,13706916,1105904,1008,867.00,NaN,71.0,NaN,NaN,NaN,NaN,NaN

In [9]:
branded_nutrient_2024 = pd.read_csv(BASE_DIR + '/' + BRANDED_FOOD_PATH + '/Apr_2024/nutrient.csv')
branded_nutrient_2024.head()
branded_nutrient_2024.shape

(477, 5)

In [10]:
def combine_all_years():
    # Walk through each sub-directory and process the files
    combined_data = pd.DataFrame()

    # Traverse through folders, merging each year's data
    for root, dirs, files in os.walk(BASE_DIR):
        # Check if the current folder contains the necessary files
        print(root, dirs, files)
        if 'food.csv' in files and 'food_nutrient.csv' in files and 'nutrient.csv' in files:
            # process food_df
            food_df = pd.read_csv(os.path.join(root, 'food.csv'))
            food_df = food_df[['fdc_id', 'description', 'publication_date']]
            # process food_nutrients_df
            food_nutrients_df = pd.read_csv(os.path.join(root, 'food_nutrient.csv'))
            food_nutrients_df = food_nutrients_df[['fdc_id', 'nutrient_id', 'amount']]
            # process nutrients_df
            nutrient_df = pd.read_csv(os.path.join(root, 'nutrient.csv'))
            nutrient_df = nutrient_df[['id', 'name', 'unit_name']]
            nutrient_df = nutrient_df.rename(columns={'id': 'nutrient_id'})
            
            merged_food_nutrients = food_df.merge(food_nutrients_df, on='fdc_id', how='left')
            merged_data = merged_food_nutrients.merge(nutrient_df, on='nutrient_id', how='left')
            
            combined_data = pd.concat([combined_data, merged_data], ignore_index=True)

    # Save combined data to a single CSV file
    combined_data.to_csv('data/combined_food_data.csv', index=False)
    print(combined_data.size)
    return combined_data

In [11]:
FOOD_DATA_PATH = 'data/combined_food_data.csv'
if not os.path.exists(FOOD_DATA_PATH):
    food_data_df = combine_all_years()
else:
    print('here')
    food_data_df = pd.read_csv(FOOD_DATA_PATH)

data/food_data ['branded_food', 'foundation_food'] []
data/food_data\branded_food ['Apr_2024'] []
data/food_data\branded_food\Apr_2024 [] ['food.csv', 'food_nutrient.csv', 'nutrient.csv']

C:\Users\palan\AppData\Local\Temp\ipykernel_2036\138902424.py:11: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  food_df = pd.read_csv(os.path.join(root, 'food.csv'))

data/food_data\foundation_food ['Apr_2024'] []
data/food_data\foundation_food\Apr_2024 [] ['food.csv', 'food_nutrient.csv', 'nutrient.csv']

C:\Users\palan\AppData\Local\Temp\ipykernel_2036\138902424.py:14: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  food_nutrients_df = pd.read_csv(os.path.join(root, 'food_nutrient.csv'))

178919510

In [12]:
food_data_df.head()

,fdc_id,description,publication_date,nutrient_id,amount,name,unit_name
0,1105904,WESSON Vegetable Oil 1 GAL,2020-11-13,1257.0,0.00,"Fatty acids, total trans",G
1,1105904,WESSON Vegetable Oil 1 GAL,2020-11-13,1293.0,53.33,"Fatty acids, total polyunsaturated",G
2,1105904,WESSON Vegetable Oil 1 GAL,2020-11-13,1253.0,0.00,Cholesterol,MG
3,1105904,WESSON Vegetable Oil 1 GAL,2020-11-13,1092.0,0.00,"Potassium, K",MG
4,1105904,WESSON Vegetable Oil 1 GAL,2020-11-13,1008.0,867.00,Energy,KCAL

In [13]:
food_data_df.columns

Index(['fdc_id', 'description', 'publication_date', 'nutrient_id', 'amount',
       'name', 'unit_name'],
      dtype='object')

In [14]:
food_data_df = food_data_df.drop(columns=['publication_date', 'nutrient_id'])
food_data_df = food_data_df.rename(columns={'name': 'nutrient', 'description': 'food_name'})
food_data_df.columns

Index(['fdc_id', 'food_name', 'amount', 'nutrient', 'unit_name'], dtype='object')

In [15]:
duplicates = food_data_df.duplicated()
duplicates

0           False
1           False
2           False
3           False
4           False
            ...
25559925    False
25559926    False
25559927    False
25559928    False
25559929    False
Length: 25559930, dtype: bool

In [16]:
duplicates = food_data_df[duplicates]
duplicates['fdc_id'].value_counts()

fdc_id
2519201    6
2512023    6
2539821    6
2558877    2
2613984    2
          ..
2521600    1
2521601    1
2521602    1
2521603    1
2641427    1
Name: count, Length: 968, dtype: int64

In [17]:
food_data_df = food_data_df.drop_duplicates()

In [18]:
food_data_df.shape

(25558906, 5)

In [19]:
food_data_df.isnull().sum().sum()

342899

In [ ]:
rows_with_missing = food_data_df[food_data_df.isnull().any(axis=1)]
print("Rows with missing values:")
print(rows_with_missing)

Rows with missing values:
           fdc_id                             food_name  amount nutrient  \
4011944    614198                              PALM 50l     NaN      NaN
4011991    614214           RODENBACH Vintage 75cl 2012     NaN      NaN
4011992    614216              RODENBACH Grand Cru 33cl     NaN      NaN
4012249    614274                             PALM 33cl     NaN      NaN
4012410    614316     STEENBRUGGE Blond 20l One way keg     NaN      NaN
...           ...                                   ...     ...      ...
25557986  2685813  tomato, puree, canned, no salt added     NaN      NaN
25557987  2685815  tomato, puree, canned, no salt added     NaN      NaN
25557988  2685817  tomato, puree, canned, no salt added     NaN      NaN
25557989  2685819     tomato, puree, canned, salt added     NaN      NaN
25557990  2685821  tomato, puree, canned, no salt added     NaN      NaN

         unit_name
4011944        NaN
4011991        NaN
4011992        NaN
4012249        NaN
4012410        NaN
...            ...
25557986       NaN
25557987       NaN
25557988       NaN
25557989       NaN
25557990       NaN

[114313 rows x 5 columns]

In [21]:
food_data_df = food_data_df.dropna()
food_data_df.shape

(25444593, 5)

In [22]:
food_data_df['nutrient'].value_counts()

nutrient
Protein                        1844399
Carbohydrate, by difference    1834459
Sodium, Na                     1832291
Energy                         1824058
Total lipid (fat)              1820371
                                ...
PUFA 20:3                            5
Lignin                               4
Ribose                               3
Sugars, intrinsic                    1
Beta-glucans                         1
Name: count, Length: 254, dtype: int64

In [25]:
# Database connection parameters
username = os.getenv('POSTGRES_USERNAME')
password = os.getenv('POSTGRES_PASSWORD')
host = os.getenv('POSTGRES_HOST')
port = int(os.getenv('POSTGRES_PORT'))
database = os.getenv('POSTGRES_DATABASE')

# Create a connection string
engine = create_engine(f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}')

In [26]:
# Save DataFrame to a PostgreSQL table
table_name = 'food_nutrient'
# food_data_df.to_sql(table_name, engine, if_exists='append', index=False)
# Save DataFrame to PostgreSQL in chunks
chunk_size = 10000  # Adjust based on your system's capacity

try:
    for i in range(0, len(food_data_df), chunk_size):
        chunk = food_data_df[i:i + chunk_size]
        chunk.to_sql(table_name, engine, if_exists='append', index=False)
    print(f"Successfully saved 25 million records to '{table_name}' in PostgreSQL.")
except Exception as e:
    print("Error while saving DataFrame in chunks:", e)

Successfully saved 25 million records to 'food_nutrient' in PostgreSQL.