# FOOD DATA CENTRAL

This file is to create and populate postgres DB with food data central data. Download food data central data from https://fdc.nal.usda.gov/download-datasets.html. Then extract those files and store in below structure.
data
\-food_data
\\-foundation_food
\\\-Apr_2024
\\\\-food.csv
\\\\-food_nutrient.csv
\\\\-nutrient.csv
\\-branded_food
\\\-Apr_2024
\\\\-food.csv
\\\\-food_nutrient.csv
\\\\-nutrient.csv

In [2]:
%pip install pandas
%pip install psycopg2-binary sqlalchemy

Requirement already satisfied: pandas in c:\users\palan\downloads\diet_plan_recom_chatbot\venv\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\palan\downloads\diet_plan_recom_chatbot\venv\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\palan\downloads\diet_plan_recom_chatbot\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\palan\downloads\diet_plan_recom_chatbot\venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\palan\downloads\diet_plan_recom_chatbot\venv\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\palan\downloads\diet_plan_recom_chatbot\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: psycopg2-binary in c:\users\palan\downloads\diet_plan_recom_chatbot\venv\lib\site-packages (2.9.10)
Requirement already satisfied: sqlalchemy in c:\users\palan\downloads\diet_plan_recom_chatbot\venv\lib\site-packages (2.0.35)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\palan\downloads\diet_plan_recom_chatbot\venv\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\palan\downloads\diet_plan_recom_chatbot\venv\lib\site-packages (from sqlalchemy) (3.1.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import os

from sqlalchemy import create_engine
from dotenv import load_dotenv

load_dotenv()

True

In [4]:
BASE_DIR = 'data/food_data'
FOUNDATION_FOOD_PATH = 'foundation_food'
BRANDED_FOOD_PATH =  'branded_food'

In [5]:
foundation_food_2024 = pd.read_csv(BASE_DIR + '/' + FOUNDATION_FOOD_PATH + '/Apr_2024/food.csv')
foundation_food_2024.head()

,fdc_id,data_type,description,food_category_id,publication_date
0,319874,sample_food,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
1,319875,market_acquisition,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
2,319876,market_acquisition,"HUMMUS, SABRA CLASSIC",16.0,2019-04-01
3,319877,sub_sample_food,Hummus,16.0,2019-04-01
4,319878,sub_sample_food,Hummus,16.0,2019-04-01

In [6]:
foundation_food_nutrient_2024 = pd.read_csv(BASE_DIR + '/' + FOUNDATION_FOOD_PATH + '/Apr_2024/food_nutrient.csv')
foundation_food_nutrient_2024.head()

C:\Users\palan\AppData\Local\Temp\ipykernel_14188\1328151036.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  foundation_food_nutrient_2024 = pd.read_csv(BASE_DIR + '/' + FOUNDATION_FOOD_PATH + '/Apr_2024/food_nutrient.csv')

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
0,2201847,319877,1051,56.30,1.0,1.0,NaN,NaN,NaN,NaN,NaN
1,2201845,319877,1002,1.28,1.0,1.0,NaN,NaN,NaN,NaN,NaN
2,2201846,319877,1004,19.00,1.0,1.0,NaN,NaN,NaN,NaN,NaN
3,2201844,319877,1007,1.98,1.0,1.0,NaN,NaN,NaN,NaN,NaN
4,2201852,319878,1091,188.00,1.0,1.0,NaN,NaN,NaN,NaN,NaN

In [7]:
foundation_nutrient_2024 = pd.read_csv(BASE_DIR + '/' + FOUNDATION_FOOD_PATH + '/Apr_2024/nutrient.csv')
foundation_nutrient_2024.head()
# foundation_nutrient_2024.shape
# foundation_nutrient_2024.columns

     id                               name unit_name  nutrient_nbr   rank
0  2047   Energy (Atwater General Factors)      KCAL         957.0  280.0
1  2048  Energy (Atwater Specific Factors)      KCAL         958.0  290.0
2  1001                             Solids         G         201.0  200.0
3  1002                           Nitrogen         G         202.0  500.0
4  1003                            Protein         G         203.0  600.0

In [8]:
branded_food_2024 = pd.read_csv(BASE_DIR + '/' + BRANDED_FOOD_PATH + '/Apr_2024/food.csv')
branded_food_2024.head()

C:\Users\palan\AppData\Local\Temp\ipykernel_14188\4089652134.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  branded_food_2024 = pd.read_csv(BASE_DIR + '/' + BRANDED_FOOD_PATH + '/Apr_2024/food.csv')

,fdc_id,data_type,description,food_category_id,publication_date,market_country,trade_channel,microbe_data
0,1105904,branded_food,WESSON Vegetable Oil 1 GAL,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""..."
1,1105905,branded_food,SWANSON BROTH BEEF,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""..."
2,1105906,branded_food,CAMPBELL'S SLOW KETTLE SOUP CLAM CHOWDER,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""..."
3,1105907,branded_food,CAMPBELL'S SLOW KETTLE SOUP CHEESE BROCCOLI,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""..."
4,1105908,branded_food,SWANSON BROTH CHICKEN,NaN,2020-11-13,United States,NaN,"[{""min_value"":null,""uom"":null,""microbe_method""..."

In [9]:
branded_food_nutrient_2024 = pd.read_csv(BASE_DIR + '/' + BRANDED_FOOD_PATH + '/Apr_2024/food_nutrient.csv')
branded_food_nutrient_2024.head()

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
0,13706927,1105904,1257,0.00,NaN,71.0,NaN,NaN,NaN,NaN,NaN
1,13706930,1105904,1293,53.33,NaN,71.0,NaN,NaN,NaN,NaN,NaN
2,13706926,1105904,1253,0.00,NaN,75.0,NaN,NaN,NaN,NaN,NaN
3,13706921,1105904,1092,0.00,NaN,75.0,NaN,NaN,NaN,NaN,NaN
4,13706916,1105904,1008,867.00,NaN,71.0,NaN,NaN,NaN,NaN,NaN

In [10]:
branded_nutrient_2024 = pd.read_csv(BASE_DIR + '/' + BRANDED_FOOD_PATH + '/Apr_2024/nutrient.csv')
branded_nutrient_2024.head()
branded_nutrient_2024.shape

(477, 5)

In [38]:
def combine_all_years(PATH, file_path):
    # Walk through each sub-directory and process the files
    combined_data = pd.DataFrame()

    # Traverse through folders, merging each year's data
    for root, dirs, files in os.walk(PATH):
        # Check if the current folder contains the necessary files
        print(root, dirs, files)
        if 'food.csv' in files and 'food_nutrient.csv' in files and 'nutrient.csv' in files:
            # process food_df
            food_df = pd.read_csv(os.path.join(root, 'food.csv'))
            food_df = food_df[['fdc_id', 'description', 'publication_date']]
            food_df = food_df.drop_duplicates(subset='description', keep='first')
            # process food_nutrients_df
            food_nutrients_df = pd.read_csv(os.path.join(root, 'food_nutrient.csv'))
            food_nutrients_df = food_nutrients_df[['fdc_id', 'nutrient_id', 'amount']]
            # process nutrients_df
            nutrient_df = pd.read_csv(os.path.join(root, 'nutrient.csv'))
            nutrient_df = nutrient_df[['id', 'name', 'unit_name']]
            nutrient_df = nutrient_df.rename(columns={'id': 'nutrient_id'})
            
            merged_food_nutrients = food_df.merge(food_nutrients_df, on='fdc_id', how='left')
            merged_data = merged_food_nutrients.merge(nutrient_df, on='nutrient_id', how='left')
            
            combined_data = pd.concat([combined_data, merged_data], ignore_index=True)

    # Save combined data to a single CSV file
    combined_data.to_csv(file_path, index=False)
    print(combined_data.size)
    return combined_data

In [12]:
# FOOD_DATA_PATH = 'data/combined_food_data.csv'
# if not os.path.exists(FOOD_DATA_PATH):
#     food_data_df = combine_all_years()
# else:
#     print('here')
#     food_data_df = pd.read_csv(FOOD_DATA_PATH)

In [39]:
file_path = 'data/foundation_food_data.csv'
if not os.path.exists(file_path):
    foundation_df = combine_all_years(BASE_DIR + '/' + FOUNDATION_FOOD_PATH, file_path)
else:
    foundation_df = pd.read_csv(file_path)

data/food_data/foundation_food ['Apr_2023', 'Apr_2024', 'Oct_2023', 'Oct_2024'] []
data/food_data/foundation_food\Apr_2023 [] ['food.csv', 'food_nutrient.csv', 'nutrient.csv']
data/food_data/foundation_food\Apr_2024 [] ['food.csv', 'food_nutrient.csv', 'nutrient.csv']
data/food_data/foundation_food\Oct_2023 [] ['food.csv', 'food_nutrient.csv', 'nutrient.csv']

C:\Users\palan\AppData\Local\Temp\ipykernel_14188\2626590551.py:15: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  food_nutrients_df = pd.read_csv(os.path.join(root, 'food_nutrient.csv'))
C:\Users\palan\AppData\Local\Temp\ipykernel_14188\2626590551.py:15: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  food_nutrients_df = pd.read_csv(os.path.join(root, 'food_nutrient.csv'))
C:\Users\palan\AppData\Local\Temp\ipykernel_14188\2626590551.py:15: DtypeWarning: Columns (9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  food_nutrients_df = pd.read_csv(os.path.join(root, 'food_nutrient.csv'))
C:\Users\palan\AppData\Local\Temp\ipykernel_14188\2626590551.py:15: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  food_nutrients_df = pd.read_csv(os.path.join(root, 'food_nutrient.csv'))

data/food_data/foundation_food\Oct_2024 [] ['food.csv', 'food_nutrient.csv', 'nutrient.csv']
1891862

In [40]:
print(foundation_df.columns)
foundation_df.head()

Index(['fdc_id', 'description', 'publication_date', 'nutrient_id', 'amount',
       'name', 'unit_name'],
      dtype='object')

,fdc_id,description,publication_date,nutrient_id,amount,name,unit_name
0,319874,"HUMMUS, SABRA CLASSIC",2019-04-01,NaN,NaN,NaN,NaN
1,319877,Hummus,2019-04-01,1051.0,56.30,Water,G
2,319877,Hummus,2019-04-01,1002.0,1.28,Nitrogen,G
3,319877,Hummus,2019-04-01,1004.0,19.00,Total lipid (fat),G
4,319877,Hummus,2019-04-01,1007.0,1.98,Ash,G

In [41]:
foundation_df = foundation_df.drop(columns=['publication_date', 'nutrient_id'])
foundation_df = foundation_df.rename(columns={'name': 'nutrient', 'description': 'food_name'})
foundation_df.columns

Index(['fdc_id', 'food_name', 'amount', 'nutrient', 'unit_name'], dtype='object')

In [42]:
duplicates = foundation_df.duplicated()
duplicates

0         False
1         False
2         False
3         False
4         False
          ...
270261    False
270262    False
270263    False
270264    False
270265    False
Length: 270266, dtype: bool

In [43]:
duplicates = foundation_df[duplicates]
duplicates['fdc_id'].value_counts()

fdc_id
322892     471
322559     471
322228     471
1750337    471
321359     471
          ...
2684464      1
2684544      1
2684528      1
2684512      1
2685820      1
Name: count, Length: 11664, dtype: int64

In [44]:
foundation_df = foundation_df.drop_duplicates()

In [45]:
foundation_df.shape

(68597, 5)

In [46]:
foundation_df.isnull().sum().sum()

14155

In [47]:
rows_with_missing = foundation_df[foundation_df.isnull().any(axis=1)]
print("Rows with missing values:")
print(rows_with_missing)

Rows with missing values:
         fdc_id                                          food_name  amount  \
0        319874                              HUMMUS, SABRA CLASSIC     NaN
5        319894                                      HUMMUS, OTHER     NaN
185      319958                              HUMMUS, TRIBE CLASSIC     NaN
360      320025                                MILK, 2% (WAVE 22E)     NaN
371      320353  Beef, Eye of Round roast/steak, lean only, raw...     NaN
...         ...                                                ...     ...
270261  2711193                 Asparagus, green, whole spear, raw     NaN
270262  2711225           Mango, Ataulfo, peeled, pit removed, raw     NaN
270263  2711241  Pear, Anjou, green, with skin, seeded, core re...     NaN
270264  2711257  Corn, sweet, yellow and white kernels, husked,...     NaN
270265  2711273                Plum, black, with skin, pitted, raw     NaN

       nutrient unit_name
0           NaN       NaN
5           NaN       NaN
185         NaN       NaN
360         NaN       NaN
371         NaN       NaN
...         ...       ...
270261      NaN       NaN
270262      NaN       NaN
270263      NaN       NaN
270264      NaN       NaN
270265      NaN       NaN

[4719 rows x 5 columns]

In [48]:
foundation_df = foundation_df.dropna()
foundation_df.shape

(63878, 5)

In [49]:
foundation_df['nutrient'].value_counts()

nutrient
Water                1939
Total lipid (fat)    1929
Copper, Cu           1719
Magnesium, Mg        1719
Phosphorus, P        1718
                     ...
Specific Gravity        6
Stigmastadiene          4
Carotene, gamma         4
PUFA 20:3               4
Pyruvic acid            4
Name: count, Length: 223, dtype: int64

In [50]:
foundation_df.columns

Index(['fdc_id', 'food_name', 'amount', 'nutrient', 'unit_name'], dtype='object')

In [51]:
duplicate_entries = foundation_df[foundation_df.duplicated(subset='food_name', keep=False)]
print(duplicate_entries)

         fdc_id                 food_name    amount           nutrient  \
1        319877                    Hummus   56.3000              Water
2        319877                    Hummus    1.2800           Nitrogen
3        319877                    Hummus   19.0000  Total lipid (fat)
4        319877                    Hummus    1.9800                Ash
6        319906        Hummus - NFY12140O    0.0100           SFA 14:0
...         ...                       ...       ...                ...
270243  2710843  Plantains, overripe, raw    0.1028         Copper, Cu
270244  2710843  Plantains, overripe, raw    0.3148           Iron, Fe
270245  2710843  Plantains, overripe, raw  408.2000       Potassium, K
270246  2710843  Plantains, overripe, raw    0.1492           Zinc, Zn
270247  2710843  Plantains, overripe, raw    9.5480            Glucose

       unit_name
1              G
2              G
3              G
4              G
6              G
...          ...
270243        MG
270244        MG
270245        MG
270246        MG
270247         G

[60866 rows x 5 columns]

In [23]:
file_path = 'data/branded_food_data.csv'
if not os.path.exists(file_path):
    branded_df = combine_all_years(BASE_DIR + '/' + BRANDED_FOOD_PATH, file_path)
else:
    branded_df = pd.read_csv(file_path)

data/food_data/branded_food ['Apr_2024'] []
data/food_data/branded_food\Apr_2024 [] ['food.csv', 'food_nutrient.csv', 'nutrient.csv']

C:\Users\palan\AppData\Local\Temp\ipykernel_23260\3454897950.py:11: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  food_df = pd.read_csv(os.path.join(root, 'food.csv'))

177835203

In [24]:
print(branded_df.columns)
branded_df.head()

Index(['fdc_id', 'description', 'publication_date', 'nutrient_id', 'amount',
       'name', 'unit_name'],
      dtype='object')

,fdc_id,description,publication_date,nutrient_id,amount,name,unit_name
0,1105904,WESSON Vegetable Oil 1 GAL,2020-11-13,1257.0,0.00,"Fatty acids, total trans",G
1,1105904,WESSON Vegetable Oil 1 GAL,2020-11-13,1293.0,53.33,"Fatty acids, total polyunsaturated",G
2,1105904,WESSON Vegetable Oil 1 GAL,2020-11-13,1253.0,0.00,Cholesterol,MG
3,1105904,WESSON Vegetable Oil 1 GAL,2020-11-13,1092.0,0.00,"Potassium, K",MG
4,1105904,WESSON Vegetable Oil 1 GAL,2020-11-13,1008.0,867.00,Energy,KCAL

In [25]:
branded_df = branded_df.drop(columns=['publication_date', 'nutrient_id'])
branded_df = branded_df.rename(columns={'name': 'nutrient', 'description': 'food_name'})
branded_df.columns

Index(['fdc_id', 'food_name', 'amount', 'nutrient', 'unit_name'], dtype='object')

In [26]:
duplicates = branded_df.duplicated()
duplicates

0           False
1           False
2           False
3           False
4           False
            ...
25405024    False
25405025    False
25405026    False
25405027    False
25405028    False
Length: 25405029, dtype: bool

In [27]:
duplicates = branded_df[duplicates]
duplicates['fdc_id'].value_counts()

fdc_id
2519201    6
2512023    6
2539821    6
2558877    2
2613984    2
          ..
2521600    1
2521601    1
2521602    1
2521603    1
2641427    1
Name: count, Length: 968, dtype: int64

In [28]:
branded_df = branded_df.drop_duplicates()
branded_df.shape

(25404005, 5)

In [29]:
branded_df.isnull().sum().sum()

311559

In [30]:
rows_with_missing = branded_df[branded_df.isnull().any(axis=1)]
print("Rows with missing values:")
print(rows_with_missing)

Rows with missing values:
           fdc_id                                          food_name  amount  \
4011944    614198                                           PALM 50l     NaN
4011991    614214                        RODENBACH Vintage 75cl 2012     NaN
4011992    614216                           RODENBACH Grand Cru 33cl     NaN
4012249    614274                                          PALM 33cl     NaN
4012410    614316                  STEENBRUGGE Blond 20l One way keg     NaN
...           ...                                                ...     ...
22180831  2457573  Zee Zees Soft Baked Bar, Blueberry Lemon, WG I...     NaN
23016338  2511822  Zee Zees Applesauce Cup, Cinnamon, Unsweetened...     NaN
23016454  2511830                   Peterson Farms Treats Applesauce     NaN
23016641  2511841             C/E Pork Undrained Sloppy Joe 6/5# 30#     NaN
23016896  2511856                  Long Life Vegetable Oil 128 ounce     NaN

         nutrient unit_name
4011944       NaN       NaN
4011991       NaN       NaN
4011992       NaN       NaN
4012249       NaN       NaN
4012410       NaN       NaN
...           ...       ...
22180831      NaN       NaN
23016338      NaN       NaN
23016454      NaN       NaN
23016641      NaN       NaN
23016896      NaN       NaN

[103861 rows x 5 columns]

In [31]:
branded_df = branded_df.dropna()
branded_df.shape

(25300144, 5)

In [32]:
branded_df['nutrient'].value_counts()

nutrient
Protein                        1843076
Carbohydrate, by difference    1834149
Sodium, Na                     1829185
Energy                         1823788
Total lipid (fat)              1816154
                                ...
Lignin                               4
Ribose                               3
SFA 22:0                             2
Sugars, intrinsic                    1
Beta-glucans                         1
Name: count, Length: 108, dtype: int64

In [52]:
# Database connection parameters
username = os.getenv('POSTGRES_USERNAME')
password = os.getenv('POSTGRES_PASSWORD')
host = os.getenv('POSTGRES_HOST')
port = int(os.getenv('POSTGRES_PORT'))
database = os.getenv('POSTGRES_DATABASE')

# Create a connection string
engine = create_engine(f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}')

In [54]:
def save_to_database(df, table_name):
    # Save DataFrame to a PostgreSQL table
    # food_data_df.to_sql(table_name, engine, if_exists='append', index=False)
    # Save DataFrame to PostgreSQL in chunks
    chunk_size = 10000  # Adjust based on your system's capacity

    try:
        for i in range(0, len(df), chunk_size):
            chunk = df[i:i + chunk_size]
            chunk.to_sql(table_name, engine, if_exists='append', index=False)
        print(f"Successfully saved '{str(len(df))}' million records to '{table_name}' in PostgreSQL.")
    except Exception as e:
        print("Error while saving DataFrame in chunks:", e)

In [55]:
save_to_database(foundation_df, 'foundation_food_nutrient')

Successfully saved '63878' million records to 'foundation_food_nutrient' in PostgreSQL.

In [36]:
save_to_database(branded_df, 'branded_food_nutrient')

Successfully saved 25 million records to 'branded_food_nutrient' in PostgreSQL.